# cool right :)

In [1]:
from data.extract.extract_flow import extract
df = extract()
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [2]:
from data.transform.transform_flow import transform
synthetic_df = transform(df) 
synthetic_df

     sepal length (cm)  sepal width (cm)  ...  petal length/petal width  target
0                  5.1               3.8  ...                  8.000000       0
1                  4.7               3.2  ...                  6.500000       0
2                  4.6               3.2  ...                  7.000000       0
3                  5.7               3.8  ...                  5.666667       0
4                  5.0               3.4  ...                  4.000000       0
..                 ...               ...  ...                       ...     ...
229                6.1               3.0  ...                  2.722222       2
230                6.2               2.8  ...                  2.666667       2
231                7.2               3.2  ...                  3.333333       2
232                6.7               3.3  ...                  2.714286       2
233                6.3               2.7  ...                  2.722222       2

[234 rows x 11 columns]

In [3]:
from data.save.save_flow import save
save(synthetic_df)

True